{% extends "main/base.html" %}

{% block header %}

    <a href="" class="header_items">新規登録</a>
    <a href="" class="header_items">ログイン</a>
    <a href="" class="header_items">ありやな市場について</a>

{% endblock %}

{% block content %}

        <!--ありやな市場の新規商品を大きめに載せる-->
        <div class="new">
            <a href="" class="new_item">
                <img src="" alt="">
                <p>商品名</p>
                <p>商品説明等</p>
            </a>
        </div>

        <!--ありやな市場のおすすめ商品を載せる-->
        <div class="favorite">
            <a href="" class="favorite_item">
                <img src="" alt="">
                <p>商品名</p>
                <p>商品説明等</p>
            </a>
        </div>

        <!--ありやな市場の商品一覧を載せる。-->
        <div class="content">
            <a href="" class="content_item">
                <img src="" alt="">
                <p>商品名</p>
                <p>商品説明等</p>
            </a>
        </div>
        <p>test</p>

{% endblock %}
